.person-box {
    max-width: 200px;
    min-width: 200px;
    height: 100px;
    background-color: lightblue;

    border: 2px solid black;
    border-radius: 5px;
    
    margin-bottom: 10px;
}

.display-row {
    width: 1000px;
    height: 200px;
    /* margin-bottom: 10px; */
}

/* Standard FlexBox */
.flex-container {
    outline: 2px solid white;
    display: flex;
}


/* Centering */
.flex-centered {
    background-color: rgb(185, 58, 4);
    
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Centering */
.row-style {
    background-color: rgb(241, 218, 208);

    justify-content: flex-start;
    align-items: center;
    /* text-align: center;  */
    overflow: scroll; 
    overflow-x: scroll;
    
    padding-left: 20px;
    gap: 1rem;
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.row-style::-webkit-scrollbar {
    display: none;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}




















































